:root {  
    --primary-color:#212121;
    --hero-color:#ffffff;
    --secondary-color:#757575;
    --accent-color:#2196f3;
    --logo-dak-color:#000000;
    --accent-background-color:#188ce8;
    --hero-background-color:#2f303a;
    /* --nav-background-color #ffffff; */
    --primary-background-color:#ffffff;
    --secondary-background-color:#f5f4fa;
    --footer-background-color:#2f303f;
}

body {
    font-family: Roboto, sans-serif, Arial sans-serif; 
    font-size: 14px;
    color: var(--primary-color);
/* Не можу  зрозуміти чому, але background з body не наслідується через var (тому довелось прописувати основний background-color
 вручну через змінні var до кожного селектору класу, в якому він є.*/
    background-color: var(--primary-background-color); 
}
/* Header */
 .header {
     background-color: var(--hero-color);
 }
.logo-header {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
    color: var(--accent-color);
  }
  .logo-dark {
      color: var(--logo-dak-color);}

 /* Навігація */
.nav-link {
    color: var(--primary-color);
    font-style: normal;
    font-weight: 500;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
}
.nav-link:hover {
    color:var(--accent-color);
}
.nav-link:focus {
     color: var(--accent-color);
}
/* Email в header */
.mail-link{
    color: var(--primary-color);
    font-style: normal;
    font-weight: 500;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
}
.mail-link:hover {
    color: var(--accent-color);
}
.mail-link:focus {
    color: var(--accent-color);
}
/* Телефон в header */
.header-phone {
    color: var(--secondary-color);
    font-style: normal;
    font-weight: 500;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
}
.header-phone:hover {
    color: var(--accent-color);
}
.header-phone:focus {
    color: var(--accent-color);
}

/* Cекція hero */

 .hero-section {
     background-color: var(--hero-background-color); 
 }
 .hero-title {
     color: var(--hero-color);
     font-style: normal;
     font-weight: 900;
     font-size: 44px;
     line-height: calc(60/44);
     text-align: center;
     letter-spacing: 0.06em;
     text-transform: uppercase;
 }
/* Кнопка на головній сторінці */

.main-button {
color: var(--hero-color);
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: calc(30/16);
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
background-color: var(--accent-color);
}
.main-button:hover {
    color: var(--hero-color);
    background-color: var(--accent-background-color);
}
.main-button:focus {
    color: var(--primary-color)
}


/* Дві головні секціі для оформлення бекграунду*/

.main-section {
    background-color: var(--hero-color);
}

/* Секція : " Наші переваги" */

.title-description {
    font-style: normal;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.description-benefits {
    color: var(--secondary-color);
    font-style: normal;
    line-height: calc(24/14);
    letter-spacing: 0.03em;}

/* Cекція  з фотографіями секції :"Чим ми займаємось" на головній сторінці*/

.main-title {
    font-style: normal;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;
}

/* Секція з фотографіями нашої команди */
.secondary-title {
    font-style: normal;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;
}
.secondary-section {
    background-color: var(--secondary-background-color);
}
.team-box {
    background-color: var(--primary-background-color);}

.team-box-title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    letter-spacing: 0.03em;
}
.discription-command {
    color: var(--secondary-color);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    letter-spacing: 0.03em;
    }

/* Сторінка Портфоліо. Стилізація кнопок і карток*/

/* Кнопки */

.secondary-button {
    color: var(--primary-color);
    background-color: var(--secondary-background-color);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    text-align: center;
    letter-spacing: 0.03em;
}
.secondary-button:hover {
    color: var(--hero-color);
    background-color: var(--accent-color);
}
.secondary-button:focus {
    color: var(--primary-color);
}

/* Картки */
 .title-item-card {
        color: var(--primary-color);
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: calc(36/18);
        letter-spacing: 0.06em;
 }
  .project-description {
      color: var(--secondary-color);
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: calc(30/16);
      letter-spacing: 0.03em;
  }

/* Footer */
 .footer {
    background-color: var(--hero-background-color);
 }
 .logo-footer {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: calc(31/26);
        letter-spacing: 0.03em;
        color: var(--accent-color);
 }
.logo-light {
       color: var(--hero-color);}

.footer-contacts {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
}
.footer-contacts:hover {
    color: var(--accent-color);
}
.footer-contacts:focus {
color: var(--accent-color)
}
.footer-adress {
    color: var(--hero-color);
    font-style: normal;
        line-height: 24px;
        /* or 171% */
    
        letter-spacing: 0.03em;
}
.footer-adress:hover {
    color: var(--accent-color);
}

.footer-adress:focus {
    color: var(--accent-color);
}